<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.google.gwt.decisiontree.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/decisiontree/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>jsonDecisionTreeData</servlet-name>
    <servlet-class>com.google.gwt.decisiontree.server.JsonDecisionTreeData</servlet-class>
  </servlet>

      <servlet-mapping>
    <servlet-name>jsonDecisionTreeData</servlet-name>
    <url-pattern>/decisiontree/jsonData</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>constructDecisionTree</servlet-name>
    <servlet-class>com.google.gwt.decisiontree.server.ConstructDecisionTree</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>constructDecisionTree</servlet-name>
    <url-pattern>/decisiontree/construct</url-pattern>
  </servlet-mapping>      
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>DecisionTree.html</welcome-file>
  </welcome-file-list>

</web-app>
